.Down {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  & .rod {
    height: 100%;
    width: 7px;
    &.bordo {
      background-color: var(--Bordo);
    }

    &.grey {
      background-color: var(--Grey);
    }
  }
}
