.CellColor {
  width: 20px;
  height: 20px;

  &.green {
    background-color: var(--Green);
  }

  &.brown {
    background-color: var(--Brown);
  }

  &.bordo {
    background-color: var(--Bordo);
  }

  &.grey {
    background-color: var(--Grey);
  }
}
