.Up {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  &.bordo {
    border-bottom: solid 6px var(--Bordo);
  }

  &.grey {
    border-bottom: solid 6px var(--Grey);
  }

  & .rod {
    height: 100%;
    width: 7px;

    &.bordo {
      background-color: var(--Bordo);
    }

    &.grey {
      background-color: var(--Grey);
    }
  }
}
